* {
    margin: 0;
    padding: 0;
    font-family: Arial, cursive;
    border: border-box;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.logo {
    background-image: url("login.png");
    background-size: cover;
    height: 100px;
    width: 200px;
    position: absolute;
}
/* .login-wrapper::before{ 
  content: '';
  height: 100px;
  width: 1500px;
  background-color: black;
  border: 2px solid red;
background-image: url('/amazon_logo.png');
  
} */
.login-wrapper {
    position: relative;
    height: 450px;
    width: 350px;
    margin-top: 100px;
    padding: 20px 20px 0px 20px;
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-wrapper h3 {
    font-weight: 400;
    margin-bottom: 50px;
    font-size: 25px;
}
.input-field input {
    width: 98%;
    height: 50px;
    padding: 0px 5px;
    border: 1.5px solid black;
}
.input-field input:focus {
    box-shadow: 0 0 5px #0ef;
}
.input-field label {
    padding-left: 20px;
    font-size: 14px;
    font-weight: 700;
    position: absolute;

    top: 30%;
    left: 0%;
    /* margin-left: 4px; */
    transform: translateY(-250%);
    pointer-events: none;
    transition: 0.378s ease;
}
.login-wrapper form button {
    height: 50px;
    border-radius: 50px;
    width: 100%;
    color: black;
    font-weight: 700;
    border: 2px solid transparent;
    margin-top: 20px;
    background-color: rgb(255, 203, 50);
    margin-bottom: 20px;
}
.login-wrapper form button:active,
.login-wrapper form button:hover {
    background-color: orange;
}
.info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-text .first-link {
    padding: 15px 0px 20px 0px;
    width: 100%;
    border-bottom: 2px solid grey;
}
.info-text a {
    color: #2162a1;
    text-decoration: none;
}
.info-text .second-text {
    padding: 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.3;
}
.second-text p {
    font-size: 14px;
    /* display: block; */
    /* background-color: red; */

    font-weight: 900;
    padding-bottom: 4px;
}
.first-text a {
    text-decoration: underline;
}
